{erl_opts, [debug_info]}.
{deps, [
    {procket, {git, "https://github.com/msantos/procket.git", {branch, "master"}}},
    {inert, {git, "https://github.com/msantos/inert.git", {branch, "master"}}}
]}.

{pre_hooks,
  [{"(linux)", compile, "make -C c_src"}]}.
{post_hooks,
  [{"(linux)", clean, "make -C c_src clean"}]}.
